In [1]:
import pandas as pd
# from pandas import ExcelWriter
from pandas import ExcelFile
 
df = pd.read_excel('unemploy-stats.xlsx', sheetname='Sheet1')
 
print("Column headings:")
print(df.columns)

Column headings:
Index(['Age', 'Gender', 'Period', 'Unemployed'], dtype='object')

In [9]:
df[df.Unemployed == max(df.Unemployed)]

                Age Gender     Period  Unemployed
898  25 to 34 years    Men 2010-05-01     1011000

In [19]:
# df[df.Unemployed == max(df.Unemployed)]

df[   (df.Gender == 'Women')].head()

               Age Gender     Period  Unemployed
7   16 to 19 years  Women 2005-01-01       38000
8   20 to 24 years  Women 2005-01-01       90000
9   25 to 34 years  Women 2005-01-01      142000
10  35 to 44 years  Women 2005-01-01      180000
11  45 to 54 years  Women 2005-01-01      157000

In [23]:
F_df = df[(df.Gender == 'Women')]

In [25]:
F_df[F_df.Unemployed == max(F_df.Unemployed)]

                 Age Gender     Period  Unemployed
1129  25 to 34 years  Women 2011-09-01      713000